
#homeContainer aside {
  background-color: #158fd4;
  border-radius: 8px; 
  grid-column: span 1 / span 1; 
  color: white; 
  padding: 10px; 
}

#homeContainer section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #158ed45b; 
  border-radius: 8px; 
  grid-column: span 3 / span 3; 
  padding: 10px; 
}

#homeContainer h1 {
  font-size: 1.5em;
  font-weight: bold; 
}

#homeContainer p {
  font-size: 1.2em; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#homeContainer li {
  padding: 5px; 
}

#logout {
  margin-top: 100px; 
}